--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: message; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.message AS (
	question character varying(8000),
	files bytea,
	language character varying(255)
);


ALTER TYPE public.message OWNER TO postgres;

--
-- Name: review; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.review AS (
	name character varying(255),
	grade integer,
	text character varying(8000)
);


ALTER TYPE public.review OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookings (
    id integer NOT NULL,
    clientid integer NOT NULL,
    tutoremail character varying(255) NOT NULL,
    datetime character varying(255) NOT NULL,
    lessonid character varying(255) NOT NULL,
    usertoken text NOT NULL
);


ALTER TABLE public.bookings OWNER TO postgres;

--
-- Name: bookings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bookings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bookings_id_seq OWNER TO postgres;

--
-- Name: bookings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bookings_id_seq OWNED BY public.bookings.id;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    surname character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    "newEmail" character varying(255),
    password character varying(255) NOT NULL,
    "isActivated" boolean DEFAULT false NOT NULL,
    "activationLink" character varying(255),
    "changeEmailLink" character varying(255),
    messages jsonb,
    progress jsonb,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.clients OWNER TO postgres;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_id_seq OWNER TO postgres;

--
-- Name: clients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clients_id_seq OWNED BY public.clients.id;


--
-- Name: files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.files (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    "accessLink" character varying(255),
    size integer DEFAULT 0,
    path character varying(255) DEFAULT ''::character varying,
    "user" character varying(255) NOT NULL,
    parent character varying(255),
    childs character varying(255),
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.files OWNER TO postgres;

--
-- Name: files_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.files_id_seq OWNER TO postgres;

--
-- Name: files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.files_id_seq OWNED BY public.files.id;


--
-- Name: gasts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gasts (
    id integer NOT NULL,
    userid character varying(1024) NOT NULL,
    chatid character varying(1024) NOT NULL,
    messages json,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.gasts OWNER TO postgres;

--
-- Name: gasts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gasts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gasts_id_seq OWNER TO postgres;

--
-- Name: gasts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gasts_id_seq OWNED BY public.gasts.id;


--
-- Name: note_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.note_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.note_seq OWNER TO postgres;

--
-- Name: offers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.offers (
    id integer NOT NULL,
    offer character varying(255) NOT NULL
);


ALTER TABLE public.offers OWNER TO postgres;

--
-- Name: offers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.offers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.offers_id_seq OWNER TO postgres;

--
-- Name: offers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.offers_id_seq OWNED BY public.offers.id;


--
-- Name: tokenTutors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."tokenTutors" (
    id integer NOT NULL,
    "refreshToken" character varying(2048) NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    tutorid integer
);


ALTER TABLE public."tokenTutors" OWNER TO postgres;

--
-- Name: tokenTutors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."tokenTutors_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."tokenTutors_id_seq" OWNER TO postgres;

--
-- Name: tokenTutors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."tokenTutors_id_seq" OWNED BY public."tokenTutors".id;


--
-- Name: tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tokens (
    id uuid NOT NULL,
    "clientId" integer NOT NULL,
    "refreshToken" character varying(1024) NOT NULL,
    "deviceId" character varying(255) NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.tokens OWNER TO postgres;

--
-- Name: tokensclients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tokensclients (
    id uuid NOT NULL,
    clientid integer NOT NULL,
    refreshtoken character varying(1024) NOT NULL,
    deviceid character varying(255) NOT NULL,
    createdat timestamp with time zone NOT NULL,
    updatedat timestamp with time zone NOT NULL
);


ALTER TABLE public.tokensclients OWNER TO postgres;

--
-- Name: tokenstutors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tokenstutors (
    id uuid NOT NULL,
    tutorid integer,
    refreshtoken character varying(2048) NOT NULL,
    deviceid character varying(255) NOT NULL,
    createdat timestamp with time zone NOT NULL,
    updatedat timestamp with time zone NOT NULL
);


ALTER TABLE public.tokenstutors OWNER TO postgres;

--
-- Name: tutors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutors (
    id integer NOT NULL,
    name character varying(255),
    namegerman character varying(255),
    surname character varying(255),
    surnamegerman character varying(255),
    email character varying(255),
    "newEmail" character varying(255),
    "changeEmailLink" character varying(255),
    password character varying(255),
    reviews jsonb,
    availablesubjects jsonb,
    highlight character varying(255),
    highlightgerman character varying(255),
    fulldescribe character varying(255),
    fulldescribegerman character varying(255),
    messages jsonb,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    schedule jsonb
);


ALTER TABLE public.tutors OWNER TO postgres;

--
-- Name: bookings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings ALTER COLUMN id SET DEFAULT nextval('public.bookings_id_seq'::regclass);


--
-- Name: clients id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients ALTER COLUMN id SET DEFAULT nextval('public.clients_id_seq'::regclass);


--
-- Name: files id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files ALTER COLUMN id SET DEFAULT nextval('public.files_id_seq'::regclass);


--
-- Name: gasts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gasts ALTER COLUMN id SET DEFAULT nextval('public.gasts_id_seq'::regclass);


--
-- Name: offers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.offers ALTER COLUMN id SET DEFAULT nextval('public.offers_id_seq'::regclass);


--
-- Name: tokenTutors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."tokenTutors" ALTER COLUMN id SET DEFAULT nextval('public."tokenTutors_id_seq"'::regclass);


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookings (id, clientid, tutoremail, datetime, lessonid, usertoken) FROM stdin;
1	1	ra.ivanov1405@gmail.com	2025.04.25 09:00	77dcf239-f67c-447a-97db-745b31872cab	b2d723acd5094abcf0c68413b0ecfa85:6a4f15e8b3594a935d89aa1b68c7f292e6483b65c4b62444735bd8705b0a5cfd2c352577ca2459c0ff861904f4645ffe2df77b7bfafac4c3ee98042b137a9b6e
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.files (id, name, type, "accessLink", size, path, "user", parent, childs, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: gasts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: offers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.offers (id, offer) FROM stdin;
\.


--
-- Data for Name: tokenTutors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."tokenTutors" (id, "refreshToken", "createdAt", "updatedAt", tutorid) FROM stdin;
\.


--
-- Data for Name: tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tokens (id, "clientId", "refreshToken", "deviceId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: tokensclients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tokenstutors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tutors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bookings_id_seq', 1, false);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clients_id_seq', 1, false);


--
-- Name: files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.files_id_seq', 1, false);


--
-- Name: gasts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gasts_id_seq', 11, true);


--
-- Name: note_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.note_seq', 901, true);


--
-- Name: offers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.offers_id_seq', 1, false);


--
-- Name: tokenTutors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."tokenTutors_id_seq"', 1, false);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (id);


--
-- Name: gasts gasts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gasts
    ADD CONSTRAINT gasts_pkey PRIMARY KEY (id);


--
-- Name: offers offers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.offers
    ADD CONSTRAINT offers_pkey PRIMARY KEY (id);


--
-- Name: tokenTutors tokenTutors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."tokenTutors"
    ADD CONSTRAINT "tokenTutors_pkey" PRIMARY KEY (id);


--
-- Name: tokens tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_pkey PRIMARY KEY (id);


--
-- Name: tokensclients tokensclients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tokensclients
    ADD CONSTRAINT tokensclients_pkey PRIMARY KEY (id);


--
-- Name: tokenstutors tokenstutors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tokenstutors
    ADD CONSTRAINT tokenstutors_pkey PRIMARY KEY (id);


--
-- Name: tutors tutors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutors
    ADD CONSTRAINT tutors_pkey PRIMARY KEY (id);


--
-- Name: gasts_userid_chatid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX gasts_userid_chatid ON public.gasts USING btree (userid, chatid);


--
-- Name: bookings bookings_clientid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_clientid_fkey FOREIGN KEY (clientid) REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tokensclients tokensclients_clientid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tokensclients
    ADD CONSTRAINT tokensclients_clientid_fkey FOREIGN KEY (clientid) REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tokenstutors tokenstutors_tutorid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tokenstutors
    ADD CONSTRAINT tokenstutors_tutorid_fkey FOREIGN KEY (tutorid) REFERENCES public.tutors(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

